main {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  font-size: 1.33em;
}

html, body {
  margin: 0 !important;
  overflow: hidden;
}

input {
  display: block;
  margin: auto;
  width: 18em;
  height: 2em;
  border-radius: 2em;
  border: none;
  outline: none;
  padding: 0.5em 2.5em;
  font-size: 1.15em;
  box-shadow: 0 1px 8px 0 rgba(32, 32, 32, 48%);
  background: url(./search.svg) no-repeat 1em;
  background-color: white;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
